version: "3.9"

services:
  redis:
    image: redis/redis-stack-server:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./volumes/redis-data:/data
    restart: always

  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./volumes/mongo-data:/data/db
    restart: always
